.meals ul{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.meals ul li{
    font-weight: 600;
}

.mealslided div{
    background-color: rgb(24, 108, 107);
}

.isLoading{
    text-align: center;
    color: white;
}