.meal{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.meal h3{
    margin: 0 0 0.25rem 0;
}

.description{
    font-size: initial;
}

.price{
    margin-top: 0.25rem;
    color: rgb(172, 98, 8);
    font-weight: bold;
}